body{
	margin: 0;
	overflow: scroll;
	
	.q-header{
		z-index: $zindex-max;
		position: fixed;
		top: 0;
		width: 100%;
		height: $q-head-height;
		line-height: $q-head-height;
		padding: 0 5rem;
		box-sizing: border-box;
	}

	#app{
		.q-back{
			@media screen and (min-width:321px) and (max-width:414px){width: 90%;padding: 2em 1rem;}
			@media screen and (min-width:414px) and (max-width:768px){width: 70%;padding: 2em 1rem;}
			@media screen and (min-width:768px){width: 60%;padding: 2em 1.5rem;}
			border-radius: 3px;
			margin: 7rem auto;
		}

		a{
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
		}
	}
}