.q-data-item{
	border: 1px solid grey;
	margin: 1em;
	padding: 1em;
	overflow: hidden;
	@media screen and (min-width:1050px){.q-data-text{float: left;} .q-data-chart{float: right;}}
	.q-data-text{
		padding: 1em;
		
		&>div{
			margin: 1em 0;
		}
		
		label{
			margin-right: 1em;
			&:last-child{
				font-weight: bold;
			}
		}
		ul{
			li{
				line-height: 2em;
				height: 2em;
			}
		}
	}
}

.q-data-foot{
	text-align: center;
}