.q-data-item{
	border: 1px solid grey;
	margin: 1em;
	padding: 1em;
	overflow: hidden;
	.q-data-text{
		float: left;
		padding: 1em;
		
		&>div{
			margin: 1em 0;
		}
		
		label{
			margin-right: 1em;
			&:last-child{
				font-weight: bold;
			}
		}
		ul{
			li{
				line-height: 2em;
				height: 2em;
			}
		}
	}
	.q-data-chart{
		float: right;
	}
}

.q-data-foot{
	text-align: center;
}