$font-stack: "Helvetica Neue",Helvetica,'microsoft yahei ui', 'microsoft yahei','simhei',Arial,sans-serif;

$theme-shadow: 0 0 1px 1px grey;
$theme-color: #f9a646;
$theme-color-dark: #f3843e;

$back-color: #ebe3e0;
$font-color: #393939;
$hover-color: #edd5d1;

$adder-color: #dddddd;
$adder-color-dark: #aaaaaa;

$q-head-height: 3em;
$adder-height: 5em;