.btn{
	display: inline-block;
	line-height: 1.5rem;
	height: 1.5rem;
	width: 5rem;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	cursor: default;
	transition: background-color 0.2s linear, opacity 0.2s linear;
}

.btn-enable{
	color: white;
	background-color: $theme-color;
	border: 1px solid $theme-color-dark;
	transition: background-color 0.2s liear;
	&:hover{
		background-color: white;
		color: $theme-color-dark;
	}
	&:active{
		background-color: $theme-color-dark;
	}
}

.btn-disable{
	color: $font-color;
	background-color: white;
	border: 1px solid $font-color;
}

.btn-adder{
	background-color: $adder-color;
	border: 1px solid $adder-color-dark;
	&:hover{
		opacity: 0.8;
	}
	&:active{
		background-color: $adder-color-dark;
	}
}