//mixin
@mixin user-select($select){
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

@mixin arrow($w, $h, $c, $hc, $d){
	width: 0 !important;
	height: 0 !important;
	border: $w/2 solid transparent !important;
	border-#{$d}: $h solid $c !important;
	&:hover{
		border-#{$d}-color: $hc !important;
	}
}

@mixin main_border($color, $radius){
	border: 1px solid $color;
	border-radius: $radius;
}

//variables
$zindex-max: 2147483647;

$font-stack: 'Microsoft YaHei';

$height: 1.2em;
$width: 16em;

//layout
.z-date{
	display: inline-block !important;
	position: relative !important;

	*{
		margin: 0 !important;
		padding: 0 !important;
	}

	div.z-d-show{
		display: block !important;
		input{
			width: $width !important;
			height: $height !important;
			line-height: $height !important;
			text-align: center !important;
		}
	}

	//calendar pad
	div.z-d-pad{
		display: block !important;
		position: absolute !important;
		top: $height + 0.3em !important;
		left: 0 !important;
		box-sizing: border-box !important;

		height: 0!important;
		visibility: hidden;
		overflow: hidden;

		width: $width !important;
		z-index: $zindex-max !important;
		padding: 0 1em !important;
		margin: 5px 0 !important;
		text-align: center !important;
		div.z-d-head{
			margin: 1em 0 !important;
			*{
				display: inline-block !important;
			}
			padding: 2px !important;
			vertical-align: top !important;

			$arrow-w: 12px !important;
			$arrow-h: 10px !important;

			span.z-d-prev{
				@include arrow($arrow-w, $arrow-h, $theme-color, $theme-color-dark, right);
				display: inline-block !important;
			}
			span.z-d-next{
				@include arrow($arrow-w, $arrow-h, $theme-color, $theme-color-dark, left);
				display: inline-block !important;
			}
			input{
				padding: 0 2px !important;
				margin: 0 5px !important;

				&.z-d-m{
					width: 1.5em !important;
				}
				&.z-d-y{
					width: 3em !important;
				}
			}
		}
		div.z-d-cal{
			cursor: pointer !important;
			div{
				margin: 0.5em 0 !important;
				span{
					@include user-select(none);
					width: 2em !important;
					display: inline-block !important;
				}
			}
		}
	}
	div.z-d-spread{
		height: auto !important;
		visibility: visible !important;
	}
}

//theme
.z-date{
	font-family: $font-stack;
	//text box showing selected dates
	div.z-d-show{
		input{
			@include main_border($main-grey, 3px);
			font-size: 16px;
			outline: none;
			color: $main-grey;
			&:hover{
				border-color: $theme-color-dark;
				color: $theme-color-dark;
			}
		}
	}

	//calendar pad
	div.z-d-pad{
		@include main_border($main-grey, 5px);
		background-color: white;
		div.z-d-head{
			input{
				outline: none;
				border: 1px solid transparent;
				font-size: 12px;
				font-weight: lighter;
				color: $main-grey;
				&:hover{
					@include main_border($theme-color-dark, 2px);
					color: $theme-color-dark;
				}
			}
		}
		div.z-d-cal{
			div{
				font-size: 14px;
				span{
					color: $main-black;
					transition: background-color 0.2s linear;
				}
				&.z-d-cal-h span{
					color: #d81d18;
				}
				&.z-d-cal-b span:hover{
					color: $theme-color-dark;
				}
			}
			.z-d-not-in{
				color: $main-grey;
			}
			.z-d-ran{
				background-color: $theme-color;
			}
			.z-d-ter{
				border-radius: 2px;
				background-color: $theme-color-dark;
				color: white;
			}
		}
	}
}