.btn {
  display: inline-block;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  cursor: default;
  transition: background-color 0.2s linear, opacity 0.2s linear; }

.btn-enable {
  color: white;
  background-color: #f9a646;
  border: 1px solid #f3843e;
  transition: background-color 0.2s liear; }
  .btn-enable:hover {
    background-color: white;
    color: #f3843e; }
  .btn-enable:active {
    background-color: #f3843e; }

.btn-disable {
  color: #393939;
  background-color: white;
  border: 1px solid #393939; }

.btn-adder {
  background-color: #dddddd;
  border: 1px solid #aaaaaa; }
  .btn-adder:hover {
    opacity: 0.8; }
  .btn-adder:active {
    background-color: #aaaaaa; }

input.q-edit {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  background-color: transparent; }

div.z-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 2147483647;
  overflow: auto; }
  div.z-modal div.z-modal-content {
    width: 25em; }
  div.z-modal div.z-m-c-fixed {
    margin: 8% auto; }

div.z-modal-show {
  visibility: visible; }

div.z-modal {
  font-family: "Microsoft YaHei";
  background-color: rgba(0, 0, 0, 0.5); }
  div.z-modal div.z-modal-content {
    border-radius: 3px;
    border: 1px solid #202020;
    box-shadow: 0 0 10px 0 #202020;
    background-color: white; }
    div.z-modal div.z-modal-content div:first-child {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-color: #f0f0f0;
      font-size: 1em;
      height: 2em;
      line-height: 2em;
      padding: 0 1em; }
      div.z-modal div.z-modal-content div:first-child label {
        display: inline-block;
        font-weight: bold; }
      div.z-modal div.z-modal-content div:first-child a {
        display: inline-block;
        float: right;
        cursor: default; }
        div.z-modal div.z-modal-content div:first-child a:hover {
          color: red; }
    div.z-modal div.z-modal-content div:nth-child(2) {
      padding: 2em; }
    div.z-modal div.z-modal-content div:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      text-align: center;
      padding: 1em 0; }
      div.z-modal div.z-modal-content div:last-child .btn {
        margin: 0 1em; }

.z-date {
  display: inline-block !important;
  position: relative !important; }
  .z-date * {
    margin: 0 !important;
    padding: 0 !important; }
  .z-date div.z-d-show {
    display: block !important; }
    .z-date div.z-d-show input {
      width: 16em !important;
      height: 1.2em !important;
      line-height: 1.2em !important;
      text-align: center !important; }
  .z-date div.z-d-pad {
    display: block !important;
    position: absolute !important;
    top: 1.5em !important;
    left: 0 !important;
    box-sizing: border-box !important;
    height: 0 !important;
    visibility: hidden;
    overflow: hidden;
    width: 16em !important;
    z-index: 2147483647 !important;
    padding: 0 1em !important;
    margin: 5px 0 !important;
    text-align: center !important; }
    .z-date div.z-d-pad div.z-d-head {
      margin: 1em 0 !important;
      padding: 2px !important;
      vertical-align: top !important; }
      .z-date div.z-d-pad div.z-d-head * {
        display: inline-block !important; }
      .z-date div.z-d-pad div.z-d-head span.z-d-prev {
        width: 0 !important;
        height: 0 !important;
        border: 6px solid transparent !important;
        border-right: 10px solid #f9a646 !important;
        display: inline-block !important; }
        .z-date div.z-d-pad div.z-d-head span.z-d-prev:hover {
          border-right-color: #f3843e !important; }
      .z-date div.z-d-pad div.z-d-head span.z-d-next {
        width: 0 !important;
        height: 0 !important;
        border: 6px solid transparent !important;
        border-left: 10px solid #f9a646 !important;
        display: inline-block !important; }
        .z-date div.z-d-pad div.z-d-head span.z-d-next:hover {
          border-left-color: #f3843e !important; }
      .z-date div.z-d-pad div.z-d-head input {
        padding: 0 2px !important;
        margin: 0 5px !important; }
        .z-date div.z-d-pad div.z-d-head input.z-d-m {
          width: 1.5em !important; }
        .z-date div.z-d-pad div.z-d-head input.z-d-y {
          width: 3em !important; }
    .z-date div.z-d-pad div.z-d-cal {
      cursor: pointer !important; }
      .z-date div.z-d-pad div.z-d-cal div {
        margin: 0.5em 0 !important; }
        .z-date div.z-d-pad div.z-d-cal div span {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2em !important;
          display: inline-block !important; }
  .z-date div.z-d-spread {
    height: auto !important;
    visibility: visible !important; }

.z-date {
  font-family: "Microsoft YaHei"; }
  .z-date div.z-d-show input {
    border: 1px solid #989898;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    color: #989898; }
    .z-date div.z-d-show input:hover {
      border-color: #f3843e;
      color: #f3843e; }
  .z-date div.z-d-pad {
    border: 1px solid #989898;
    border-radius: 5px;
    background-color: white; }
    .z-date div.z-d-pad div.z-d-head input {
      outline: none;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: lighter;
      color: #989898; }
      .z-date div.z-d-pad div.z-d-head input:hover {
        border: 1px solid #f3843e;
        border-radius: 2px;
        color: #f3843e; }
    .z-date div.z-d-pad div.z-d-cal div {
      font-size: 14px; }
      .z-date div.z-d-pad div.z-d-cal div span {
        color: #202020;
        transition: background-color 0.2s linear; }
      .z-date div.z-d-pad div.z-d-cal div.z-d-cal-h span {
        color: #d81d18; }
      .z-date div.z-d-pad div.z-d-cal div.z-d-cal-b span:hover {
        color: #f3843e; }
    .z-date div.z-d-pad div.z-d-cal .z-d-not-in {
      color: #989898; }
    .z-date div.z-d-pad div.z-d-cal .z-d-ran {
      background-color: #f9a646; }
    .z-date div.z-d-pad div.z-d-cal .z-d-ter {
      border-radius: 2px;
      background-color: #f3843e;
      color: white; }

body {
  margin: 0;
  overflow: scroll; }
  body .q-header {
    z-index: 2147483647;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    padding: 0 5rem;
    box-sizing: border-box; }
  body #app .q-back {
    border-radius: 3px;
    margin: 7rem auto; }
    @media screen and (min-width: 321px) and (max-width: 414px) {
      body #app .q-back {
        width: 90%;
        padding: 2em 0; } }
    @media screen and (min-width: 414px) and (max-width: 768px) {
      body #app .q-back {
        width: 70%;
        padding: 2em 1rem; } }
    @media screen and (min-width: 768px) {
      body #app .q-back {
        width: 60%;
        padding: 2em 1.5rem; } }
  body #app a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

#app .q-list-back {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }

#app > div > .btn {
  float: right; }

#app table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  line-height: 3rem; }
  #app table tfoot .q-table-delete {
    text-align: left;
    padding: 0 1rem; }

#app .q-back ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#app .q-back .q-detail-head {
  text-align: center; }
  #app .q-back .q-detail-head input.q-edit {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 3rem;
    height: 3rem;
    text-align: center; }

#app .q-back .q-detail-body {
  margin: 2em 0; }
  @media screen and (min-width: 321px) and (max-width: 414px) {
    #app .q-back .q-detail-body {
      padding: 0.5rem 0; } }
  @media screen and (min-width: 414px) and (max-width: 768px) {
    #app .q-back .q-detail-body {
      padding: 0.5rem 0; } }
  @media screen and (min-width: 768px) {
    #app .q-back .q-detail-body {
      padding: 1.5rem; } }
  #app .q-back .q-detail-body .q-ctrl {
    cursor: default;
    font-size: 1.2rem; }
    #app .q-back .q-detail-body .q-ctrl:hover {
      color: red;
      font-weight: bold; }
    #app .q-back .q-detail-body .q-ctrl:active {
      color: red;
      font-weight: lighter; }
  #app .q-back .q-detail-body .q-item {
    margin: 1rem 0;
    padding: 1rem; }
    #app .q-back .q-detail-body .q-item .q-item-seq span {
      margin-right: 1rem; }
    #app .q-back .q-detail-body .q-item .q-item-body input.q-edit {
      font-size: 1rem;
      height: 1.5rem;
      border: 1px dotted transparent;
      padding: 0 1rem; }
      #app .q-back .q-detail-body .q-item .q-item-body input.q-edit:hover {
        border-color: #f9a646; }
    #app .q-back .q-detail-body .q-item .q-item-body > div:first-child {
      margin: 1rem 0; }
      #app .q-back .q-detail-body .q-item .q-item-body > div:first-child span {
        padding: 0 1rem;
        display: inline-block;
        float: right; }
    @media screen and (min-width: 321px) and (max-width: 414px) {
      #app .q-back .q-detail-body .q-item .q-item-body > div:last-child ul {
        padding: 1rem 0; } }
    @media screen and (min-width: 414px) and (max-width: 768px) {
      #app .q-back .q-detail-body .q-item .q-item-body > div:last-child ul {
        padding: 1rem 2rem; } }
    @media screen and (min-width: 768px) {
      #app .q-back .q-detail-body .q-item .q-item-body > div:last-child ul {
        padding: 1rem 5rem; } }
    #app .q-back .q-detail-body .q-item .q-item-body > div:last-child ul li {
      margin: 0.5rem; }
      #app .q-back .q-detail-body .q-item .q-item-body > div:last-child ul li * {
        margin: 0 1rem; }
    #app .q-back .q-detail-body .q-item .q-item-body > div:last-child ul textarea {
      outline: none;
      width: 80%;
      height: 10rem;
      resize: none; }
    #app .q-back .q-detail-body .q-item .q-item-ctrl {
      text-align: right; }
      #app .q-back .q-detail-body .q-item .q-item-ctrl a {
        padding: 0 0.5rem; }
  #app .q-back .q-detail-body .q-adder {
    position: relative;
    overflow: hidden;
    margin: 1.5rem 0;
    height: 5em;
    transition: height 0.2s linear; }
    #app .q-back .q-detail-body .q-adder ul {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 0;
      text-align: center;
      line-height: 5em; }
      #app .q-back .q-detail-body .q-adder ul li {
        display: inline-block;
        margin: 0 1rem; }
    #app .q-back .q-detail-body .q-adder div {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height: 5em;
      line-height: 5em; }
  #app .q-back .q-detail-body .q-adder:hover {
    height: 10em; }

#app .q-back .q-detail-foot div {
  display: inline-block;
  margin: 0 1rem; }

#app .q-back .q-detail-foot a.btn {
  float: right;
  margin-left: 0.5rem; }

.q-data-item {
  border: 1px solid grey;
  margin: 1em;
  padding: 1em;
  overflow: hidden; }
  @media screen and (min-width: 1050px) {
    .q-data-item .q-data-text {
      float: left; }
    .q-data-item .q-data-chart {
      float: right; } }
  .q-data-item .q-data-text {
    padding: 1em; }
    .q-data-item .q-data-text > div {
      margin: 1em 0; }
    .q-data-item .q-data-text label {
      margin-right: 1em; }
      .q-data-item .q-data-text label:last-child {
        font-weight: bold; }
    .q-data-item .q-data-text ul li {
      line-height: 2em;
      height: 2em; }

.q-data-foot {
  text-align: center; }

body {
  font-family: "Microsoft YaHei";
  font-weight: lighter;
  background-color: #ebe3e0; }
  body .q-header {
    color: white;
    background-color: #f9a646;
    box-shadow: 0 0 1px 1px grey; }
  body .q-back-white {
    background-color: white;
    box-shadow: 0 0 1px 1px grey; }

#app table {
  font-weight: lighter;
  color: #393939; }
  #app table tbody {
    border-radius: 2px;
    background-color: white; }
    #app table tbody tr {
      border-bottom: 1px solid grey; }
      #app table tbody tr:hover {
        background-color: #edd5d1; }
    #app table tbody td.q-releasing {
      color: #66DD00; }
    #app table tbody td.q-released {
      color: #d81d18; }

#app .q-back .q-detail-head input.q-edit:hover {
  background-color: #edd5d1; }

#app .q-back .q-detail-body {
  border-top: 3px solid #aaaaaa;
  border-bottom: 3px solid #aaaaaa; }
  #app .q-back .q-detail-body .q-item .q-required {
    color: red; }
  #app .q-back .q-detail-body .q-item:hover {
    background-color: #edd5d1; }
    #app .q-back .q-detail-body .q-item:hover .q-edit {
      background-color: #edd5d1; }
  #app .q-back .q-detail-body .q-adder {
    border: 1px solid #aaaaaa; }
    #app .q-back .q-detail-body .q-adder div {
      background-color: #dddddd; }

@media screen and (max-width: 321px) {
  html {
    font-size: 6px; } }

@media screen and (min-width: 321px) and (max-width: 414px) {
  html {
    font-size: 8px; } }

@media screen and (min-width: 414px) and (max-width: 768px) {
  font-size: 10px; }

@media screen and (min-width: 768px) {
  html {
    font-size: 16px; } }
