#app{

	.q-back{

		.q-detail-head{
			input.q-edit:hover{
					background-color: $hover-color;
				}
			}

		.q-detail-body{
			border-top: 3px solid $adder-color-dark;
			border-bottom: 3px solid $adder-color-dark;


			.q-item{
				.q-required{
					color: red;
				}
				&:hover{
					background-color: $hover-color;
					.q-edit{
						background-color: $hover-color;
					}
				}
			}

			.q-adder{
				border: 1px solid $adder-color-dark;
				div{
					background-color: $adder-color;
				}
			}
		}
	}
}